$purple : #586bfc;
$red : #4E5283;
$black : #202020;
$light-grey : rgb(179, 179, 179);
$nav-height: 80px;
$main-font : 'Raleway', sans-serif;


//------------GLOBAL--------------/
* {
  margin: 0;
  font-family: $main-font;
  color : black;

}

//title
h1 {
  font-size: 40px;
}
//regular size bold 
h2 {
  font-size: 16px;
  font-weight: 600;
}
//regular size regular
h3 {
  font-size: 16px;
  font-weight: 400;
}
//smaller size regular
h4 {
  font-weight: 400;
  font-size: 14px;
}
h5 {
  font-size: 14px;
  font-weight: 200;
  color: #c1c1c1;
}
h6{
  font-size: 16px;
  font-weight: 600;
}

.boldGrey{
  color: #626262;
  font-weight: 600px;
  font-size: 16px;
}

.greyText{
  color: #626262;
}
.whiteText {
  color: white;
}

.infoText{
  color: #01A2FD;
  font-size: 12px;
}

.errorText{
  color: red;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body{
  background-color:  white;
}

.App {
  min-height: 100vh;
  background-color:  white;
}

.warning{
  z-index: 200;
  position: absolute;
  height: 400px;
  width: 800px;
  background-color: red;
}

.button{
  width: 180px;
  background-color: $red;
  border-radius: 8px; 
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover{
  opacity: 0.8;
  cursor: pointer;
}

.smallButton{
  width: 100px;
  height: 30px;
}

input{
  border: 1px solid #cfd9ed;
  border-radius: 4px;
  text-align: left;
  font-size: 14px;
  height: 30px;
  padding-left: 12px;
}

input:focus{
  outline: none;
  border: 1px solid $red;
}

//--------- ERROR PAGE ----------

.web3warning{
  padding-top: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.web3warning > img {
  width: 60px;
  margin-bottom: 40px;
}

.warningTop{
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 20px;
}

//---------------NAV-----------------------

.nav {
  background-color: $purple;
  height : $nav-height;
  width: calc(100% - 120px);
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  position: fixed;
  top: 0;
  z-index: 9999;
}


.navSelected{
  position: relative;
}


.navUnderline{
  width: 26px;
  height: 2px;
  position: absolute;
  bottom: -10px;
  background-color: white;
}

#u1{
  left: 25px;
}

#u2{
  left: 13px;
}

#u3{
  left: 2px;
}


#navRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 260px;
}

//---------Landing Page -----------//
.landing{
  margin-top: $nav-height;
  width: 100%;
  // background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero{
  display: flex;
  flex-direction: row;
  width: 80%;
  padding: 80px 0;
}

.landingLeft{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shuffleText{
  width: 100%;
  margin-top: 60px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 24px;
}

.spacing{
  width: 6px;
}

.landingRight{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: auto;
}

.landingRight > *{
  width: 220px;
  height: 340px;
  margin-left: 60px;
}

.landingHeader  {
  color: $black;
  font-size: 34px;
}

#signup{
  background-color: $purple;
  margin-right: 40px;
}

#learn{
  background-color: #585858;
}

.buttonGroup{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  margin-top: 60px;
}

.landingButton{
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: white;
  font-weight: 040;
}

.landingContent{
  min-height: 340px;
  padding: 60px 10%;
  width: 80%;
  display: flex;
  flex-direction: row;
  background-color: #F7FAFF;
}

.landingContent > .left {
  width: 45%;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
}

.landingContent > .left > img {
  width: 300px;
}

.landingContent > .left > p {
  width: 340px;
  text-align: center;
}


.landingContent > .right{
  width: 50%;
  margin-left: 5%;
  margin-top: 20px;
}

.landingContent > .right > h1{
  color: $purple;
}

.subHeadingReg{
  font-size: 22px;
  margin-top: 40px;
}

.subHeadingBold{
  font-size: 22px;
  margin-top: 40px;
  font-weight: 600;
}

.signupSection{
  padding: 60px 0;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signupBold{
  font-size: 22px;
  font-weight: 600;
}

.signupRow{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.signupRow > input{
  width: 340px;
  font-size: 20px;
  height: 40px;
  border: 1px solid $light-grey;
  border-radius: 8px;
  padding-left: 20px;
}

.signupRow > div {
  background-color: $purple;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block-end: 3px;
  margin-left: 20px;
}





//------------------QUEST LOG PAGE ----------------------

.log {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: $nav-height;
}

.loadingBox{
  position: absolute;
  top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questCardGrid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.questContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.questHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}

#headerInfoText{
  margin-left: 10px;

}

#headerInfoText:hover{
  cursor: pointer;
}

.questCard{
  width: 20%;
  min-width: 260px;
  margin: 0px 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-bottom: 40px;
  border-radius: 10px;
  justify-self: left;
  align-self: flex-start;
}

#questCardImage{
  width: 20%;

}

.qcardTop {
  width: 100%;  
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
}

.qcardBottom {
  width: 100%;
  min-height: 180px;
  display: flex;
  border-radius: 10px; 
  background-color:rgb(247, 250, 255);
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 0px;
  align-items: center;
  position: relative;
}

.questReqContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0px;
  height: 120px;
}

#rwdText{
  margin-top: 40px;
}

.questReqItem{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding-left: 10%;
  position: relative;
}

.reqCheck {
  top: 10px;
  left: 0;
  width: 16px;
  height: 16px;
  margin-left: -22px;
  margin-right: 6px;
  margin-top: -10px;
}

.reqPic{
  width: 30px;
  height: 30px;
}

#reqNameText{
  margin-left: 10px;
  min-width: 170px;
  text-align: left
}

.questSubmit{
  width: 60%;
  height: 34px;
  background-color: $purple;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questSubmit:hover{
  cursor: pointer;
  opacity: 0.9;
}

.helpOverlay{
  z-index: 400;
  line-height: 24px;
  width: 280px;
  border-radius: 10px;
  position: absolute;
  background-color: white;
  margin-left: 290px;
  opacity: 0.8;
  top: 130px;
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

//--------------QUEST OVERLAY

.CompleteOverlay{
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#completeCloseIcon{
  position: absolute;
  right: 30px;
  top: 30px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.blurred{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(11, 11, 23);
  opacity: 0.6;
  cursor: pointer;
  z-index: 99;
}

.overLayBox{
  width: 60%;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 0;
  position: relative;
  border-radius: 20px;
  z-index: 100;
  background-color: white;
}

#questCompleteImage{
  width: 60px;
  margin-top: 40px;
  margin-bottom: 10px;
}
#completeHelpText{
  width: 70%;
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.completeTable{
  width: 600px;
  margin-top: 20px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px; 
  position: relative;
}
.ctHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #F9FAFC;
  padding: 0 20px;
}

.ctRow{
  width: calc(100%-40px);
  border-bottom: 1px solid #CFCECE;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}


#questReqTableImg{
  width: 20px;
}

#tokenIdTextOverlay{
  width: 100px;
  text-align: center;
}

.tokenIdInputComplete{
  width: 100px;
}

#completeReqTitle{
  width: 120px;
}

.submitTokenIdNum{
  width: 100px;
  height: 26px;
  border-radius: 20px;
  background-color: $purple;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.submitTokenIdNum:hover{
  cursor: pointer;
  opacity: 0.8;
}

#inactive{
  opacity: 0.4;
  cursor: auto;
}

#submitStatus{
  text-align: right;
  width: 100px;
}

.completeQuestOverlayButton{
  position: absolute;
  right: 100px;
  bottom: 40px;
}

// ---------------CREATE -------------------------------------------------//

.createBucket{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.createLeft{
  width: 30%;
  background-color: #545871;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.createQuestText{
  font-size: 24px;
  color: white;
  margin-top: 160px;
}

.wizardBox{
  width: 60%;
  margin-top: 40px;
  margin-right: -40px;
}

.line{
  width: 2px;
  background-color: $light-grey;
  height: 194px;
  position: absolute;
  left: calc(20% + 29px);
  top: 253px;
}

.wizardRow{
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
}


.wizardCircle{
  width: 20px;
  border-radius: 20px;
  background-color: $light-grey;
  height: 20px;
  margin-right: 30px;
  z-index: 300;
  position: relative;
}

.activeWizard{
  background-color: #545871;
  border: 6px solid white;
  width: 18px;
  border-radius: 18px;
  height: 18px;
  margin-right: 30px;
  margin-left: -5px;
  color: white;
  z-index: 300;
  position: relative;
}

.wizardStep{
  color: $light-grey;
}

.activeWizardText{
  color: white;
  margin-left: -5px;
}

.createRight{
  width: 70%;
  margin-left: 30%;
}

.createPage{
  padding-top: $nav-height;
  margin-top: 100px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
}

.headerTextCreate{
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  position: relative;
}

.createCard{
  background-color: white;
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 40px;
  // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}




.createInput{
  height: 40px;
  border-radius: 4px;
  font-size: 18px;
  outline: none;
  padding-left: 10px;
  border : 1px solid rgb(193, 193, 193);
}

#titleInput{
  margin-left: 0px;
  width: 300px;
  margin-top: 14px;
}

#titleError {
  position: absolute;
  top: -30px;
  left: 0%;
}

#reqError{
  position: absolute;
  top: -30px;
  left: 0%;
}

.createRow{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  padding-left: 10%;

}

.selectHeader{
  width: 100%;
  border : 1px solid rgb(193, 193, 193);
  height: 40px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;

}

.selectHeader:hover{
  cursor: pointer;
}

.selectDownArrow{
  position: absolute;
  right: 10px;
  width: 20px;
}

#questIdText{
  width: 100%;
  text-align: right;
  margin-top: 20px;
  padding-right: 30px;
  color: #c1c1c1;
  font-weight: 200;
}

#reqSelect{
  padding-top: 20px;
}

.dropDownList{
  margin-bottom: 40px;
  width: 70%;

}

.selectOptions{
  min-height: 100px;
  width: 100%;
  margin-top: 1px;
  border-radius: 6px;
  border : 1px solid rgb(193, 193, 193);
  padding-top: 10px;
  
}

.optionRow{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10%;
  margin-bottom: 12px;
  width: 90%;
}

.optionRow:hover{
  background-color: rgb(245, 246, 255);
  cursor: pointer;
}

#optionImage{
  height: 30px;
}

.thirdOfRow{
  width: 30%;
}

.selectedReqItem{
  width: 70%;
  border : 1px solid rgb(193, 193, 193);
  height: 40px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

#selectedItemName{
  margin-left: 20px;
}

#xIcon{
  width: 15px;
  position: absolute;
  right: -30px;
}

#xIcon:hover{
  cursor: pointer;
}

#createRule{
  border: 1px solid #c1c1c1;
  margin-bottom: 20px;
  width: 60%;
  margin-top: 20px;
}

.bottomText{
  font-size: 16px;
  color: #c1c1c1;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

.submitWrapper{
  width: 60%;
  position: relative;
}


.inactiveButton{
  background-color: $red;
  opacity: 0.6;
  cursor: auto;
}

.inactiveButton:hover{
  background-color: $red;
  opacity: 0.6;
  cursor: auto;
}

#page1Submit{
  position: absolute;
  right: 0;
}

#page1Back{
  position: absolute;
  left: 0;
  top: 40px;
}


.prizeSelection{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 60%;
  min-height: 380px;
}

.prizeGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.prizeCard{
  border: 1px solid rgb(169, 169, 169);
  border-radius: 8px;
  padding: 5px;
  height: 90px;
  width: 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.prizeCard:hover{
  cursor: pointer;
  border: 1px solid $purple;
  background-color: rgb(247, 252, 255);
}

.prizeCardSelected{
  border: 1px solid $purple;
  background-color: rgb(215, 212, 254);
}

.prizeCardSelected:hover{
  border: 1px solid $purple;
  background-color: rgb(215, 212, 254);

}

.prizeTokenTicker{
  font-weight: 600;
}

#prizeSelectError{
  position: absolute;
  top: 30px;
  left: 30px;
}

#prizePic{
  width: 40px;
  height: 40px;
}

.amountRow{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  align-self: flex-end;
}

#amountInput{
  margin-top: 10px;
}

#nftWarning{
  margin-right: 10px;
  margin-bottom: 20px;
}

#amtError{
  position: absolute;
  left: 10%;
}

#page2Submit{
  position: absolute;
  right: 0;
  margin-top: 40px;
}

#previousButton{
  position: absolute;
  left: -260px;
}

#previousButton:hover{
  cursor: pointer;
}

.escrowPage{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.createOverlay{
  width: 70%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dataColumn{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
}

.createButtonGroup{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.secondP{
  margin-top: 40px;
  text-align: left;
  width: 100%;
}

#forthPage{
  margin-top: 100px;
}

.alreadySubmitted{
  margin-bottom: -40px;
  margin-top: 60px;
  width: 100%;
  text-align: left;
}

.createButtonGroup > *{
  margin-right: 0px;
}

.dataColumn > *{
  margin: 15px 0;
}

#createSubText{
  width: 100%;
  line-height: 24px;
}


#creatCheckHeader{
  margin-bottom: 30px;
}

.loadingBoxCreate{
  z-index: 9999;
  height: 300px;
  width: 300px;
  position: absolute;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


//---------------- faq

.faq{
  margin-top: $nav-height;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding-top: 60px;
}


.faq > h1 {
  color: $purple;
  align-self: center;
  margin-bottom: 60px;
}

.faq > p {
  width: 80%;
  padding-left: 20%;
}

.faqHeader{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 6px;
}

.faqSub{
  font-size: 18px;
  margin-bottom: 40px;
}

//----------Footer ------------/@at-root

.footer{
  position: relative;
  bottom: 0;
  height: 200px;
  background-color: $black;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.partners{
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.siteMap{
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 160px;
}

.footlogo{
  height: 40px;
}


///-------------------------responsive 

///breakpoints
@media only screen and (max-width: 1200px) {
  .questContainer{
    min-width: 800px;
  }


  .log {
    min-width: 1300px;
  }

  .landing {
    min-width: 1300px;
  }

  .nav{
    min-width: 500px;
  }

  .faq{
    min-width: 1200px;
  }

  .App{
    background-color: #FCFCFF;
  }

  .createCard{
    width: 800px;
  }

  .createPage{
    width: 1300px;
  }

}

@media only screen and (max-width: 390px) {

  *{
    max-width: 375px !important;
  }

  .nav{
    width: 100%;
    padding: 0;
  }

  .landing {
    min-width: 100%;
  }

  .hero{
    flex-direction: column;
  }

  .landingHeader{
    width: 100%;
  }

  .landingLeft{
    width: 100%;
    text-align: center;
  }

  .landingRight{
    height: 0;
    width: 0;
    display: none;
  }

  #navLeft{
    width: 375px;
    text-align: center;
  }

  #navRight{
    display: none;
  }

  .shuffleText{
    flex-direction: column;
  }

  .landingContent{
    flex-direction: column;
    padding-top: 20px;
    width: 80%;
    align-items: center;
  }

  .landingContent > .right {
    width: 80%;
    text-align: center;
    margin-top: 40px;
  }

  .landingContent > .left  {
    width: 300px;
    text-align: center;
  }

  .landingContent > .left > p  {
    width: 300px;
    text-align: center;
  }

  .signupSection{
    padding-top: 0;
  }

  .signupRow{
    flex-direction: column;
    width: 90%;
  }


.signupRow  > input {
  width: 240px;
  margin-left: -20px;
}

.signupRow  > div {
  margin-left: 10px;
  margin-top: 20px;
}
  

.footer{
 display: none
}

}
